<header>
    <div class="header-content">
        <div class="logo">
            <a href="http://localhost:4200/books" (click)="onLogoClick()">
                <img src="assets/image/logo.jpeg" alt="Logo">
            </a>
        </div>
        <div class="title">
            <h1>Game of Thrones: Saga</h1>
        </div>
        <div class="buttons">
            <button (click)="onBookClick()">Books</button>
            <button (click)="onCharacterClick()">Characters</button>
            <button (click)="onHouseClick()">Houses</button>
        </div>
    </div>
</header>

